<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.konga.testcase.SuscribeLinkTest"/>
      <class name="com.konga.testcase.Logout"/>
      <class name="com.konga.testcase.Help"/>
      <class name="com.konga.testcase.SearchTest"/>
      <class name="com.konga.testcase.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->




